{% extends 'base.html' %}
{% load static %}


{% block content %}

<style>

  .container div {
    width: 250px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
  }
  .container img{
    width: 100%;
    border-radius: 1rem;
  }

</style>

    <div class="container">
      <div>
        <img src="https://picsum.photos/200/300">
      </div>
      <div>
        <img src="https://picsum.photos/200/340">
      </div>
      <div>
        <img src="https://picsum.photos/200/350">
      </div>
      <div>
        <img src="https://picsum.photos/200/456">
      </div>
      <div>
        <img src="https://picsum.photos/250/333">
      </div>
      <div>
        <img src="https://picsum.photos/200/300">
      </div>
      <div>
        <img src="https://picsum.photos/200/600">
      </div>
      <div>
        <img src="https://picsum.photos/200/356">
      </div>
      <div>
        <img src="https://picsum.photos/200/238">
      </div>
      <div>
        <img src="https://picsum.photos/200/239">
      </div>


    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>


{% endblock %}